<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="css/styles.css" rel="stylesheet">
        <title>Doação</title>
    </head>
    <body ng-app="doacao">

        <section>
            <div class="container col-sm-8 col-sm-offset-2 text-center">
                <h2>Antes de começar, precisamos nos conhecer. Doar é uma plataforma que facilita e promove a doação de sangue. Agora é sua vez de se apresentar.</h2>
                    <form>
                        <!-- NOME -->
                        <div class="form-group">
                            <div class="row">
                                <label>Olá, qual o seu nome?</label>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input class="form-control text-center" type="text" placeholder="Insira o seu nome">
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control text-center" type="text" placeholder="Insira o seu sobrenome">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- IDADE -->
                        <div class="row">
                            <label>É um prazer te conhecer Pedro! Agora, sua idade:</label>
                                <div class="col-sm-12">
                                    <input class="form-control text-center" type="text" placeholder="Data/Mês/Ano" name="field" ng-model="birthDate" ui-date-mask="DD/MM/YYYY">

                        <!-- CPF -->
                        <div class="row">
                            <label>Nos desculpe a formalidade, mas qual o seu CPF?</label>
                                <div class="col-sm-12">
                                    <input class="form-control text-center" placeholder="000.000.000-00" type="text" name="field" ng-model="initializedCpf" ui-br-cpf-mask>

                        <!-- E-MAIL -->
                        <div class="row">
                            <label>Precisamos do seu email, ele será seu login.</label>
                            <p>E não se preocupe, só mandaremos um email se for muito importante!</p>
                                <div class="col-sm-12">
                                    <input class="form-control text-center" type="email" placeholder="voce@seuemail.com">

                        <!-- SENHA -->
                        <div class="row">
                            <label>Crie uma senha, ela será usada no seu login.</label>
                                <div class="col-sm-12">
                                    <input class="form-control text-center" type="password" placeholder="Senha">

                        <!-- BOTAO DE CADASTRO -->
                        <div class="row">
                            <button class="btn btn-info" type="button">Cadastrar</button>
                        </div>

                    </form>
            </div>
        </section>


    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCRQQK2lgkFZAPkAPtl_dZJ71mKuAms248",
        authDomain: "doacao-989f4.firebaseapp.com",
        databaseURL: "https://doacao-989f4.firebaseio.com",
        projectId: "doacao-989f4",
        storageBucket: "doacao-989f4.appspot.com",
        messagingSenderId: "897143310669"
      };
      firebase.initializeApp(config);
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/app.min.js"></script>
    </body>
</html>
